
.Rproj.user/A2F17EA5/sources/prop/5ED33EBC
.Rproj.user/A2F17EA5/sources/prop/INDEX
.Rproj.user/A2F17EA5/sources/s-49A48E55/CC984EE1
.Rproj.user/A2F17EA5/sources/s-49A48E55/CC984EE1-contents
.Rproj.user/A2F17EA5/sources/s-49A48E55/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
